@font-face {
    font-family:poppins-medium ;
    src: url(../fonts/poppins-medium.ttf);
} 
.container{
    width: 960px;
    margin-top: 50px;
}
.text{
    font-family:poppins-medium;
    font-weight: 500;
    width: 80%;
}
.image{
  width: 80%;
} 
.image img{
    width: 100%;
}